.container {
  border: 1px solid gainsboro;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: 60%;
  padding: 10px 20px 50px;
  overflow: scroll;
  scrollbar-color: black transparent;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionTitle {
  margin: 40px 0 20px;
}

.exportButtons {
  width: 100%;
  margin: 20px 0;
  display: flex;
  gap: 40px;
}
